body {
  background-image: url("https://img00.deviantart.net/cecf/i/2011/206/3/2/free_datawall_stage_background_by_mkrukowski-d41l75c.jpg");
  font-family: sans-serif;
}

#quiz {
  margin-left: 14px;
  background: orange;
  padding: 10px 20px 10px 20px;
  width: 375px;
  border-radius: 18px;
}

input {
  margin-bottom: 15px;
}

h1 {
  font-size: 36px;
  color: white;
  text-align: center;
}
/* #picture {
  float: right;
  margin-top: -477px;
  margin-right: 386px;
} */
p {
  font-size: 24px;
  color: white;
}
#after_submit {
  visibility: hidden;
  background: #C0392B;
  padding: 10px 20px 10px 20px;
  width: 450px;
  border-radius: 15px;
  font-size: 25px;
  margin-top: -523px;
  margin-left: 978px;


}
